File(H)/Herb_Chatbot/Flow_Dify/Herb_Chatbot_H.yml
app:
  description: herb_test
  icon: 🌿
  icon_background: '#E0F2FE'
  mode: advanced-chat
  name: Herb_Chatbot
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/groq:0.0.12@38f75b2f4a3687af7b0947693c7903f5c7d8756f217ea492b8b81de6f16601f6
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/cohere:0.0.8@1456818eb78f25c1a25e91809cecbd78e5523d39868dcb78607e625913b5e4fe
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528915811-1711528917469
      source: '1711528915811'
      sourceHandle: source
      target: '1711528917469'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528917469-1711528919501
      selected: false
      source: '1711528917469'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528914102-source-1711528915811-target
      source: '1711528914102'
      sourceHandle: source
      target: '1711528915811'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 72
      id: '1711528914102'
      position:
        x: 284.92467238094594
        y: 3.9241275405625515
      positionAbsolute:
        x: 284.92467238094594
        y: 3.9241275405625515
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - Br6K72OH16WOKboENM6+QcHG5uSHiQG5RgZy6WtFs9n0YcdcYBoB1LJuBMJmb+IL
        desc: ''
        metadata_filtering_mode: disabled
        metadata_model_config:
          completion_params:
            temperature: 0.7
          mode: chat
          name: llama3.2:3b
          provider: langgenius/ollama/ollama
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-multilingual-v3.0
            provider: langgenius/cohere/cohere
          score_threshold: 0.8
          top_k: 6
          weights:
            keyword_setting:
              keyword_weight: 0.5
            vector_setting:
              embedding_model_name: mxbai-embed-large:latest
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.5
            weight_type: customized
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Retrieval
        type: knowledge-retrieval
      dragging: false
      height: 89
      id: '1711528915811'
      position:
        x: 639.564460505791
        y: 14.082654690364578
      positionAbsolute:
        x: 639.564460505791
        y: 14.082654690364578
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528915811'
          - result
        desc: ตอบคำถามเกี่ยวกับ สมุนไพร ซึ่งจะให้ข้อมูล
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
            top_p: 1
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: c2da946a-e1e2-46e6-8fdf-21d006de5a74
          role: system
          text: "You are a helpful assistant. \nUse the following context as your\
            \ learned knowledge, inside <context></context> XML tags.\n<context>\n\
            {{#context#}}\n</context>\nWhen answer to user:\n- If you don't know,\
            \ just say that you don't know.\n- If you don't know when you are not\
            \ sure, ask for clarification.\n- Do not explain your reasoning or thought\
            \ process.\n- Do not mention the context, documents, or sources.\n- If\
            \ the answer cannot be found in your knowledge, say that you don't know.\n\
            - If the question is unclear, ask for clarification.\n- Always answer\
            \ in the same language as the user's question.\n- if you can't find data\
            \ in context answer you don't have data in database\n"
        - id: e4b5033e-f4c0-4148-a31d-1d51d2fc6668
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 115
      id: '1711528917469'
      position:
        x: 984.8207583065849
        y: -1.8850113011041287
      positionAbsolute:
        x: 984.8207583065849
        y: -1.8850113011041287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528917469.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 101
      id: '1711528919501'
      position:
        x: 1326
        y: 7
      positionAbsolute:
        x: 1326
        y: 7
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -401.511870332316
      y: 285.53356424042283
      zoom: 0.7211554045143856
  rag_pipeline_variables: []
