File(H)/TA_Chatbot/Flow_Dify/_Chatbot-TA-NUProject_Compound.yml
app:
  description: teacher Assistant
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: _Chatbot-TA-NUProject_
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.6.4@17f286b2d6699a258a2eba8bc1bff71b8f795b6aa7bee1464cbfa450b451303a
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/groq:0.0.12@38f75b2f4a3687af7b0947693c7903f5c7d8756f217ea492b8b81de6f16601f6
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/cohere:0.0.8@1456818eb78f25c1a25e91809cecbd78e5523d39868dcb78607e625913b5e4fe
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.0@7c18c74b94a855de83aa66f376939d47b96a49b6dbb6904b46b267cb0213396e
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: ''
    id: b4a00fd6-ec0f-4bcf-b42a-2bb39da0ad5a
    name: count_correct
    selector:
    - conversation
    - count_correct
    value: 0
    value_type: integer
  - description: ''
    id: a4aac67f-6e98-4db9-957a-59e84a1e6bf9
    name: control_correct
    selector:
    - conversation
    - control_correct
    value: false
    value_type: boolean
  - description: ''
    id: edbd1283-8e50-41fc-91ec-9e09c92f9af6
    name: unknown_count
    selector:
    - conversation
    - unknown_count
    value: 0
    value_type: integer
  - description: ''
    id: 55d0efed-6278-43de-b4b8-252ee9e156de
    name: IS_Q
    selector:
    - conversation
    - IS_Q
    value: false
    value_type: boolean
  - description: ''
    id: 2bfb7d77-840a-42c2-9c13-aeab57ed5011
    name: score
    selector:
    - conversation
    - score
    value: 0
    value_type: integer
  - description: ''
    id: 8f1839bb-f262-4f6b-87c0-68fad986796a
    name: context_of_question
    selector:
    - conversation
    - context_of_question
    value: ''
    value_type: string
  - description: ''
    id: 1e310994-7e5b-42fb-a97b-7ca2ec0ee9dc
    name: answer
    selector:
    - conversation
    - answer
    value: ''
    value_type: string
  - description: ''
    id: e1f201dc-bb4c-4241-b34b-708a257daf53
    name: question
    selector:
    - conversation
    - question
    value: ''
    value_type: string
  - description: ''
    id: cfc2b446-afb8-4c28-83de-b2c756e51027
    name: SET_CLEAR
    selector:
    - conversation
    - SET_CLEAR
    value: false
    value_type: boolean
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1763456189790-source-1763454400618-target
      selected: false
      source: '1763456189790'
      sourceHandle: source
      target: '1763454400618'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1763454400618-true-1763456625580-target
      selected: false
      source: '1763454400618'
      sourceHandle: 'true'
      target: '1763456625580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1763450613508-source-1765161340297-target
      selected: false
      source: '1763450613508'
      sourceHandle: source
      target: '1765161340297'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1765161340297-true-1763456189790-target
      selected: false
      source: '1765161340297'
      sourceHandle: 'true'
      target: '1763456189790'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1765427816080-source-1763970175184-target
      selected: false
      source: '1765427816080'
      sourceHandle: source
      target: '1763970175184'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 17657717068220-source-1763533667062-target
      selected: false
      source: '17657717068220'
      sourceHandle: source
      target: '1763533667062'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: code
      id: 1763455812097-1-1766038495274-target
      selected: false
      source: '1763455812097'
      sourceHandle: '1'
      target: '1766038495274'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1766038495274-source-1766038540818-target
      selected: false
      source: '1766038495274'
      sourceHandle: source
      target: '1766038540818'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1766038540818-source-1766038570225-target
      selected: false
      source: '1766038540818'
      sourceHandle: source
      target: '1766038570225'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1766038570225-source-17657717068220-target
      selected: false
      source: '1766038570225'
      sourceHandle: source
      target: '17657717068220'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1763455812097-1763542103558-17660387327930-target
      selected: false
      source: '1763455812097'
      sourceHandle: '1763542103558'
      target: '17660387327930'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 17660387327930-source-17660387327941-target
      selected: false
      source: '17660387327930'
      sourceHandle: source
      target: '17660387327941'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 17660387327942-source-1763533667062-target
      selected: false
      source: '17660387327942'
      sourceHandle: source
      target: '1763533667062'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 17660387327941-source-17660387327942-target
      selected: false
      source: '17660387327941'
      sourceHandle: source
      target: '17660387327942'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1763970100406-false-17660431035890-target
      selected: false
      source: '1763970100406'
      sourceHandle: 'false'
      target: '17660431035890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17660431035890-source-17660431035891-target
      selected: false
      source: '17660431035890'
      sourceHandle: source
      target: '17660431035891'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1763544048739-source-1766374716224-target
      selected: false
      source: '1763544048739'
      sourceHandle: source
      target: '1766374716224'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1766374716224-source-1763970100406-target
      selected: false
      source: '1766374716224'
      sourceHandle: source
      target: '1763970100406'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1765161340297-1dcda19b-98ff-42a5-939c-4481cf614a87-1769409713501-target
      selected: false
      source: '1765161340297'
      sourceHandle: 1dcda19b-98ff-42a5-939c-4481cf614a87
      target: '1769409713501'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: question-classifier
      id: 1769409713501-source-1763455812097-target
      selected: false
      source: '1769409713501'
      sourceHandle: source
      target: '1763455812097'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1765161340297-false-1769409852640-target
      selected: false
      source: '1765161340297'
      sourceHandle: 'false'
      target: '1769409852640'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1769409852640-true-1766383543650-target
      selected: false
      source: '1769409852640'
      sourceHandle: 'true'
      target: '1766383543650'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1770606477180-source-1770606541748-target
      selected: false
      source: '1770606477180'
      sourceHandle: source
      target: '1770606541748'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1770606541748-true-1770606581383-target
      selected: false
      source: '1770606541748'
      sourceHandle: 'true'
      target: '1770606581383'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1770606581383-source-1770606618047-target
      selected: false
      source: '1770606581383'
      sourceHandle: source
      target: '1770606618047'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1766383543650-2-1770606477180-target
      selected: false
      source: '1766383543650'
      sourceHandle: '2'
      target: '1770606477180'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770606541748-false-1766383604790-target
      selected: false
      source: '1770606541748'
      sourceHandle: 'false'
      target: '1766383604790'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1766383604790-source-1766383782848-target
      selected: false
      source: '1766383604790'
      sourceHandle: source
      target: '1766383782848'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1770606618047-source-1770606752423-target
      selected: false
      source: '1770606618047'
      sourceHandle: source
      target: '1770606752423'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1763970100406-true-1770618213894-target
      selected: false
      source: '1763970100406'
      sourceHandle: 'true'
      target: '1770618213894'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: if-else
      id: 1763970175184-source-1770618765189-target
      selected: false
      source: '1763970175184'
      sourceHandle: source
      target: '1770618765189'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1770618765189-true-1763456625580-target
      selected: false
      source: '1770618765189'
      sourceHandle: 'true'
      target: '1763456625580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1770618213894-source-1770619389651-target
      selected: false
      source: '1770618213894'
      sourceHandle: source
      target: '1770619389651'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770619389651-true-1765427816080-target
      selected: false
      source: '1770619389651'
      sourceHandle: 'true'
      target: '1765427816080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770619389651-8afc6b2a-f7f7-409e-a28d-29b912ac5196-1770619508146-target
      selected: false
      source: '1770619389651'
      sourceHandle: 8afc6b2a-f7f7-409e-a28d-29b912ac5196
      target: '1770619508146'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770619389651-23e2ee4c-93b0-42e9-ba8b-574ec19b9c2b-1770619542265-target
      selected: false
      source: '1770619389651'
      sourceHandle: 23e2ee4c-93b0-42e9-ba8b-574ec19b9c2b
      target: '1770619542265'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770619389651-8c6b4cfd-8baa-4edc-a446-f2c8898ef5a9-1770619558971-target
      selected: false
      source: '1770619389651'
      sourceHandle: 8c6b4cfd-8baa-4edc-a446-f2c8898ef5a9
      target: '1770619558971'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770619389651-4457ed1c-0245-47e8-9018-09208429fc68-1770619586438-target
      selected: false
      source: '1770619389651'
      sourceHandle: 4457ed1c-0245-47e8-9018-09208429fc68
      target: '1770619586438'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1770619508146-source-1763970175184-target
      selected: false
      source: '1770619508146'
      sourceHandle: source
      target: '1763970175184'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1770619542265-source-1763970175184-target
      selected: false
      source: '1770619542265'
      sourceHandle: source
      target: '1763970175184'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1770619558971-source-1763970175184-target
      selected: false
      source: '1770619558971'
      sourceHandle: source
      target: '1763970175184'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1770619586438-source-1763970175184-target
      selected: false
      source: '1770619586438'
      sourceHandle: source
      target: '1763970175184'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: if-else
      id: 1766383543650-1-1770620060405-target
      selected: false
      source: '1766383543650'
      sourceHandle: '1'
      target: '1770620060405'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770620060405-false-1763544048739-target
      selected: false
      source: '1770620060405'
      sourceHandle: 'false'
      target: '1763544048739'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1770620060405-true-1770618213894-target
      selected: false
      source: '1770620060405'
      sourceHandle: 'true'
      target: '1770618213894'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1771826335383-1-1771828502626-target
      source: '1771826335383'
      sourceHandle: '1'
      target: '1771828502626'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1771826335383-2-17718285112290-target
      source: '1771826335383'
      sourceHandle: '2'
      target: '17718285112290'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1771826335383-1771826521067-17718285215430-target
      source: '1771826335383'
      sourceHandle: '1771826521067'
      target: '17718285215430'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1771826335383-1771826537385-17718285215441-target
      source: '1771826335383'
      sourceHandle: '1771826537385'
      target: '17718285215441'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1771826335383-1771826543306-17718285330170-target
      source: '1771826335383'
      sourceHandle: '1771826543306'
      target: '17718285330170'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1771828502626-source-1771828736010-target
      source: '1771828502626'
      sourceHandle: source
      target: '1771828736010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 17718285112290-source-17718287562030-target
      source: '17718285112290'
      sourceHandle: source
      target: '17718287562030'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 17718285215430-source-17718287619660-target
      source: '17718285215430'
      sourceHandle: source
      target: '17718287619660'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 17718285215441-source-17718287664500-target
      source: '17718285215441'
      sourceHandle: source
      target: '17718287664500'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 17718285330170-source-17718287706030-target
      source: '17718285330170'
      sourceHandle: source
      target: '17718287706030'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1771828736010-source-1771828930876-target
      source: '1771828736010'
      sourceHandle: source
      target: '1771828930876'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17718287562030-source-1771828930876-target
      source: '17718287562030'
      sourceHandle: source
      target: '1771828930876'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17718287664500-source-1771828930876-target
      source: '17718287664500'
      sourceHandle: source
      target: '1771828930876'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17718287706030-source-1771828930876-target
      source: '17718287706030'
      sourceHandle: source
      target: '1771828930876'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17718287619660-source-1771828930876-target
      source: '17718287619660'
      sourceHandle: source
      target: '1771828930876'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1769409852640-false-1771826335383-target
      source: '1769409852640'
      sourceHandle: 'false'
      target: '1771826335383'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: Start
        type: start
        variables: []
      height: 72
      id: '1763450613508'
      position:
        x: 0
        y: 50
      positionAbsolute:
        x: 0
        y: 50
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 41c3937f-5d16-4c7a-b13a-3a4b74907f94
            value: true
            varType: boolean
            variable_selector:
            - conversation
            - SET_CLEAR
          id: 'true'
          logical_operator: and
        selected: false
        title: ถ้ามีคำถามอยู่แล้วให้แสดงว่า
        type: if-else
      height: 123
      id: '1763454400618'
      position:
        x: 1046
        y: 36
      positionAbsolute:
        x: 1046
        y: 36
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: สร้างคำถามแบบไม่มีการกำหนดเรื่อง หรือสุ่ม
        - id: '1763542103558'
          name: สร้างคำถามแบบที่มีการกำหนดเรื่อง
        instruction: 'คุณเป็นตัวจำแนกประเภทข้อความจากผู้ใช้ ให้พิจารณาความหมาย ไม่ใช่พิจารณาจากคำศัพท์ทีละคำ


          จงจำแนกข้อความของผู้ใช้ด้านล่างออกเป็น 4 ประเภท:

          1. create_question = ผู้ใช้ต้องการให้ระบบสร้างคำถามใหม่ เช่น "สร้างคำถาม",
          "ขอคำถามใหม่", "ช่วยออกข้อสอบ"

          2. answer_correct = ผู้ใช้ตอบคำถามที่ระบบให้ไป และคำตอบตรงกับคำตอบที่ถูกต้อง

          3. answer_incorrect = ผู้ใช้ตอบคำถามที่ระบบให้ไป แต่คำตอบไม่ตรง/ผิด

          4. other = ข้อความอื่นที่ไม่ใช่การขอสร้างคำถาม และไม่ใช่การตอบคำถาม


          ข้อมูลประกอบ:

          - คำถามล่าสุดคือ: "{{question}}"

          - คำตอบที่ถูกต้องคือ: "{{correct_answer}}"

          - ข้อความผู้ใช้: "{{user_input}}"


          ห้ามเลือกประเภท create_question เว้นแต่ผู้ใช้ขอให้ ''สร้างคำถาม'' จริงๆ

          ไม่ต้องสนใจคำที่มีคำว่า ''สร้าง'' ถ้าความหมายไม่ใช่การสร้างคำถาม

          '
        instructions: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        query_variable_selector:
        - sys
        - query
        selected: false
        title: Answer Classifier
        type: question-classifier
        vision:
          configs:
            detail: low
            variable_selector:
            - sys
            - files
          enabled: false
      height: 185
      id: '1763455812097'
      position:
        x: 1245.94931001144
        y: 251.0347167231614
      positionAbsolute:
        x: 1245.94931001144
        y: 251.0347167231614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: constant
          operation: set
          value: true
          variable_selector:
          - conversation
          - SET_CLEAR
          write_mode: over-write
        selected: false
        title: Change SET_CLEAR_T
        type: assigner
        version: '2'
      height: 83
      id: '1763456189790'
      position:
        x: 704
        y: 56
      positionAbsolute:
        x: 704
        y: 56
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: constant
          operation: set
          value: false
          variable_selector:
          - conversation
          - SET_CLEAR
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - question
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - answer
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - IS_Q
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - unknown_count
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - control_correct
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - count_correct
          write_mode: over-write
        selected: false
        title: CLEAR_ALL
        type: assigner
        version: '2'
      height: 239
      id: '1763456625580'
      position:
        x: 4353.900257714609
        y: 71
      positionAbsolute:
        x: 4353.900257714609
        y: 71
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#conversation.context_of_question#}}


          คำถาม :{{#conversation.question#}}

          '
        selected: false
        title: Asking User
        type: answer
        variables: []
      height: 122
      id: '1763533667062'
      position:
        x: 2939.24980203381
        y: 269.0347167231614
      positionAbsolute:
        x: 2939.24980203381
        y: 269.0347167231614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            json_schema: ''
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: 75928099-1239-43c6-9a97-7eed98409070
          role: system
          text: 'You are an evaluator, not a tutor.


            Your task is to evaluate the student''s answer by comparing it with the
            expected answer.


            Rules:

            - Output ONLY valid JSON that conforms to the schema.

            - "score" must be a number between 0 and 100.

            - Use the expected answer as the reference standard.

            - Do NOT ask questions.

            - Do NOT teach or add new information.

            - "feedback" must explain the reason for the score clearly.


            Scoring guideline:

            - 0–30: Incorrect or irrelevant

            - 31–60: Partially correct, missing key concepts

            - 61–80: Mostly correct with minor gaps

            - 81–100: Correct, clear, and well-reasoned


            '
        - id: 28ab3830-e246-40b0-954c-b2d6f96539d9
          role: user
          text: '{{#sys.query#}}

            ประมวลผลคำตอบจาก User โดยที่ คำตอบที่ถูกต้องคือ {{#conversation.answer#}}
            ซึ่งคำถาม คือ {{#conversation.question#}} ให้ตรวจสอบว่าคำตอบที่ User ให้มาถูกต้องหรือไม่'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              feedback:
                type: string
              score_correct:
                additionalProperties: false
                description: คะแนนที่ถูกต้องของคำตอบ อยู่ระหว่าง 0-100
                type: number
            required:
            - feedback
            - score_correct
            type: object
        structured_output_enabled: true
        title: ตรวจสอบความถูกต้องและให้คะแนน
        type: llm
        vision:
          enabled: false
      height: 117
      id: '1763544048739'
      position:
        x: 1666
        y: 634
      positionAbsolute:
        x: 1666
        y: 634
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: ≥
            id: ff2ef279-8624-4e9c-a1ac-6f60141978db
            value: '80'
            varType: number
            variable_selector:
            - conversation
            - score
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 123
      id: '1763970100406'
      position:
        x: 2350
        y: 631
      positionAbsolute:
        x: 2350
        y: 631
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1765427816080.text#}}{{#1770619508146.text#}}{{#1770619542265.text#}}{{#1770619558971.text#}}{{#1770619586438.text#}}'
        selected: false
        title: Correct
        type: answer
        variables: []
      height: 174
      id: '1763970175184'
      position:
        x: 3736.160798793654
        y: 651
      positionAbsolute:
        x: 3736.160798793654
        y: 651
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: Kittipong Roekkesi
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Score
          Defalut = 0.1 เพราะว่าจำเป็นต้องให้เป็น float ไม่ใช่ int","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1764124558575'
      position:
        x: -461.6003079334282
        y: -343.08986164373846
      positionAbsolute:
        x: -461.6003079334282
        y: -343.08986164373846
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: fc81f992-9246-40d9-8949-b9c1d05fa900
            value: DL
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: or
        - case_id: 1dcda19b-98ff-42a5-939c-4481cf614a87
          conditions:
          - comparison_operator: contains
            id: 996a7953-e10b-482c-bd2f-dfd80fdc950a
            value: /Q
            varType: string
            variable_selector:
            - sys
            - query
          id: 1dcda19b-98ff-42a5-939c-4481cf614a87
          logical_operator: or
        selected: false
        title: แยกการทำงาน
        type: if-else
      height: 171
      id: '1765161340297'
      position:
        x: 342
        y: 0
      positionAbsolute:
        x: 342
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: 181b21ec-8923-456d-8b9c-7c5fc22b397c
          role: system
          text: 'คุณคือผู้ช่วยสอนที่ใช้ Socratic Method เพื่อกระตุ้นการคิดเชิงวิเคราะห์

            อินพุต:

            CONTEXT: {{#conversation.context_of_question#}}

            QUESTION: {{#conversation.question#}}

            CORRECT_ANSWER: {{#conversation.answer#}}

            USER_ANSWER: {{#sys.query#}}

            หน้าที่:

            เปรียบเทียบ USER_ANSWER กับ CORRECT_ANSWER

            ถ้าความหมายถูกต้องหรือใกล้เคียง ให้ตั้งคำถาม Socratic ต่อเนื่อง

            ห้ามเฉลยซ้ำ ห้ามบอกว่าถูกหรือผิดตรง ๆ

            คำถามต้องเป็นปลายเปิด และกระตุ้นการคิดลึก

            สร้างคำถาม 1 ข้อ ไล่ระดับความคิดดังนี้:

            เหตุผลเบื้องหลังคำตอบ


            รูปแบบผลลัพธ์:

            แสดงเฉพาะรายการคำถามลำดับข้อเท่านั้น

            ไม่ต้องมีคำอธิบายเพิ่มเติม


            ถามทีละคำถาม'
        selected: false
        title: Level1-Metacognitions
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1765427816080'
      position:
        x: 3425.116926744992
        y: 506.239694655521
      positionAbsolute:
        x: 3425.116926744992
        y: 506.239694655521
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1766038570225'
          - structured_output
          - context
          variable_selector:
          - conversation
          - context_of_question
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1766038570225'
          - structured_output
          - question
          variable_selector:
          - conversation
          - question
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1766038570225'
          - structured_output
          - answer
          variable_selector:
          - conversation
          - answer
          write_mode: over-write
        selected: false
        title: กำหนดค่า Question, Answer , Context (1)
        type: assigner
        version: '2'
      height: 135
      id: '17657717068220'
      position:
        x: 2577.24980203381
        y: 242.0347167231614
      positionAbsolute:
        x: 2577.24980203381
        y: 242.0347167231614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import random\ndef main():\n    random_integer = random.randint(1,\
          \ 25)\n    return {\n        \"result\": \"ID : q\" + str(random_integer),\n\
          \    }\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: สุ่มคำถามจาก ID
        type: code
        variables: []
      height: 51
      id: '1766038495274'
      position:
        x: 1551.2498020338096
        y: 284.0347167231614
      positionAbsolute:
        x: 1551.2498020338096
        y: 284.0347167231614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 0HANU3teiCxX9zHpXDY9Bh1WUdmazUwomziT3tvdmp3wJLloOrBUBtYB6rLDvyNQ
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: rerank-english-v3.0
            provider: langgenius/cohere/cohere
          score_threshold: null
          top_k: 1
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: mxbai-embed-large:latest
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 1
            weight_type: customized
        query_variable_selector:
        - '1766038495274'
        - result
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 4
        type: knowledge-retrieval
      height: 89
      id: '1766038540818'
      position:
        x: 1893.2498020338096
        y: 265.0347167231614
      positionAbsolute:
        x: 1893.2498020338096
        y: 265.0347167231614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1766038540818'
          - result
        model:
          completion_params:
            json_schema: ''
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: db52ed34-687d-4c32-ad71-43d3f0db17a2
          role: system
          text: "You are an AI that converts educational content into structured JSON.\n\
            \nYour task is to ALWAYS generate ALL fields in the schema.\n\nRules:\n\
            - Output ONLY valid JSON\n- Every key MUST exist and MUST NOT be empty\n\
            - The \"answer\" field is a complete expected answer for teachers\n- The\
            \ \"question\" field is written for students\n- Even if the answer seems\
            \ obvious, you MUST still write it\n- Do NOT answer the question outside\
            \ the JSON\n- thai language\n\nJSON Schema (strict):\n{\n  \"context\"\
            : \"string\",\n  \"question\": \"string\",\n  \"answer\": \"string\"\n\
            }\n"
        - id: b1efc54c-7770-4ee3-9325-6ef9347f4b80
          role: user
          text: 'Using the following context, generate a question for students and
            an expected answer for teachers.


            {{#context#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              answer:
                type: string
              context:
                type: string
              question:
                type: string
            required:
            - context
            - question
            - answer
            type: object
        structured_output_enabled: true
        title: สร้างคำถามใน PISA(สุ่ม)
        type: llm
        vision:
          enabled: false
      height: 117
      id: '1766038570225'
      position:
        x: 2235.24980203381
        y: 251.0347167231614
      positionAbsolute:
        x: 2235.24980203381
        y: 251.0347167231614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - sC1QceFS5ch7NKlZeStO06kCpmVEHWZRN+IKenQ06kD6RbCbl+T8qHF8+bDLVT6D
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: rerank-english-v3.0
            provider: langgenius/cohere/cohere
          score_threshold: null
          top_k: 2
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: gemini-embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 1
            weight_type: customized
        query_variable_selector:
        - '1763450613508'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: FAQ 2558
        type: knowledge-retrieval
      height: 89
      id: '17660387327930'
      position:
        x: 1858.904835937122
        y: 434.0347167231614
      positionAbsolute:
        x: 1858.904835937122
        y: 434.0347167231614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17660387327930'
          - result
        model:
          completion_params:
            temperature: 0.7
            top_p: 0.9
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: ff6b8217-b613-4b25-9d5d-d0235fd0f94f
          role: system
          text: "จากข้อมูลต่อไปนี้ {{#context#}} ให้นำออกมาแค่ 1 คำถาม\n\nรูปแบบคำตอบ\
            \ (JSON เท่านั้น):\n\n{\n  \"context\": \"\",\n  \"question\": \"\",\n\
            \  \"answer\": \"\"\n}\n"
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              answer:
                description: answer of question
                type: string
              context:
                description: context ของคำถามนั้น
                type: string
              question:
                description: question in memory
                type: string
            required: []
            type: object
        structured_output_enabled: true
        title: สร้างคำถามจากไฟล์ FAQ
        type: llm
        vision:
          enabled: false
      height: 117
      id: '17660387327941'
      position:
        x: 2215.24980203381
        y: 448.0347167231614
      positionAbsolute:
        x: 2215.24980203381
        y: 448.0347167231614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17660387327941'
          - structured_output
          - context
          variable_selector:
          - conversation
          - context_of_question
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17660387327941'
          - structured_output
          - question
          variable_selector:
          - conversation
          - question
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17660387327941'
          - structured_output
          - answer
          variable_selector:
          - conversation
          - answer
          write_mode: over-write
        selected: false
        title: กำหนดค่า Question, Answer , Context (1)
        type: assigner
        version: '2'
      height: 135
      id: '17660387327942'
      position:
        x: 2577.24980203381
        y: 457.0347167231614
      positionAbsolute:
        x: 2577.24980203381
        y: 457.0347167231614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: 4de66249-fe6f-4413-91cb-a3498c69dc09
          role: system
          text: "สร้างคำถามจาก {{#conversation.context_of_question#}} เพื่อนำไปสู่คำตอบ\
            \ {{#conversation.answer#}}\n\nคุณคือครูวิทยาศาสตร์ระดับมัธยมปลายที่ใช้วิธีสอนแบบ\
            \ Socratic method และคำถามแบบ Socratic questions เพื่อกระตุ้นการคิดของผู้เรียน\
            \ เพื่อให้มี Computational thinking\nกติกาในการตอบ:\n\n1) เมื่อผู้เรียนถามคำถามใดๆ\n\
            - คุณต้องตอบด้วย \"คำถามสั้น ๆ\" ที่ชี้ไปยังตัวแปรสำคัญของปัญหา เช่น มวล\
            \ แรง พลังงาน โมเมนตัม ความหนาแน่น การถ่ายเทพลังงาน การชน เป็นต้น\n- ห้ามเฉลยคำตอบทันที\n\
            - ต้องถามกลับก่อนเสมอ\n\n2) เมื่อผู้เรียนตอบคำถามของคุณแล้ว ให้แยกเป็นสองกรณี:\n\
            \nกรณีตอบถูก:\n- ให้ยืนยันแบบสั้น ๆ เช่น: \"ใช่แล้ว\", \"ถูกต้อง\", \"\
            ดีมาก\"\n- ตามด้วยคำถามแบบ Metacognition เพื่อให้ผู้เรียนสะท้อนคิด เช่น:\n\
            \  - อะไรทำให้คุณมั่นใจในคำตอบนี้?\n  - คุณใช้หลักการอะไรเป็นตัวตัดสิน?\n\
            \  - ถ้าเอาหลักการเดียวกันไปใช้ในสถานการณ์อื่น ผลจะเป็นอย่างไร?\n- คำถามต้องสั้น\
            \ กระชับ และชวนให้ผู้เรียนเห็นว่าหลักการเดิมสามารถประยุกต์ใช้ได้ในสถานการณ์ใหม่\n\
            \nกรณีตอบผิด:\n- ไม่ตำหนิ ไม่เฉลยทันที\n- ให้ถามต่อแบบ Socratic Questioning\
            \ เพื่อไล่เหตุผลทีละขั้น เช่น:\n  - มีตัวแปรไหนที่คุณยังไม่ได้พิจารณา?\n\
            \  - ถ้าเพิ่มหรือลดมวล ผลจะเปลี่ยนไหม?\n  - ก่อนชนและหลังชน แรงต่างกันอย่างไร?\n\
            - คำถามต้องช่วยให้ผู้เรียนค่อยๆ พบข้อผิดพลาดด้วยตัวเอง\n\n3) ข้อจำกัดสำคัญ:\n\
            - ห้ามตอบยาว ห้ามอธิบายเป็นย่อหน้าที่ยืดเยื้อ\n- อธิบายเสริมได้ แต่ต้องสั้นมาก\n\
            - เน้นการถามกลับเพื่อให้ผู้เรียนคิดเอง\n- น้ำเสียงเป็นกันเอง เหมือนครูคุยกับนักเรียนจริง\
            \ ๆ\n\n\n"
        - id: cd4dabf0-4bc7-4165-8cc7-d1cc5d0fd30d
          role: user
          text: "จากคำตอบของ User : {{#sys.query#}} \nให้สร้างคำถามจาก {{#conversation.context_of_question#}}\
            \ เพื่อนำไปสู่คำตอบ {{#conversation.answer#}}"
        selected: false
        title: Computational thinking
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17660431035890'
      position:
        x: 2712
        y: 824
      positionAbsolute:
        x: 2712
        y: 824
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17660431035890.text#}}'
        selected: false
        title: Question computational thinking
        type: answer
        variables: []
      height: 101
      id: '17660431035891'
      position:
        x: 3101.924306950888
        y: 1009.6972278035522
      positionAbsolute:
        x: 3101.924306950888
        y: 1009.6972278035522
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1763544048739'
          - structured_output
          - score_correct
          variable_selector:
          - conversation
          - score
          write_mode: over-write
        selected: false
        title: Variable Assigner 5
        type: assigner
        version: '2'
      height: 83
      id: '1766374716224'
      position:
        x: 2008
        y: 651
      positionAbsolute:
        x: 2008
        y: 651
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: การตอบคำถามทั่วไป
        - id: '2'
          name: การตอบที่แสดงถึงความไม่แน่ใจ หรือไม่รู้
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        query_variable_selector:
        - '1763450613508'
        - sys.query
        selected: false
        title: Question Classifier 2
        type: question-classifier
        vision:
          enabled: false
      height: 169
      id: '1766383543650'
      position:
        x: 1004
        y: 637
      positionAbsolute:
        x: 1004
        y: 637
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: d7dd56f5-8775-45d1-a1d3-77b96991730d
          role: system
          text: 'คุณคือ AI Tutor

            หน้าที่ของคุณคือช่วยผู้เรียนเรียนรู้ด้วยตนเอง โดยไม่เฉลยคำตอบโดยตรง


            กติกาการตอบ:

            - หากผู้เรียนตอบว่า “ไม่รู้”, “ไม่เข้าใจ”, หรือแสดงว่าขาดความรู้พื้นฐาน

            - ห้ามเฉลยคำตอบของโจทย์

            - ให้บอกว่าการไม่รู้เป็นเรื่องปกติ

            - ระบุให้ชัดว่าผู้เรียนยังขาดความรู้เรื่องใด

            - แนะนำหัวข้อหรือ keyword ที่ควรไปค้นหา

            - เชื่อมโยงว่าความรู้นั้นจะช่วยตอบคำถามเดิมได้อย่างไร

            - ใช้ภาษาที่เป็นมิตร เหมือนครูผู้ช่วย

            - ไม่ให้คำอธิบายเชิงเนื้อหาใด ๆ เพิ่มเติม


            รูปแบบคำตอบที่ต้องใช้:

            ไม่เป็นไรถ้าคุณยังไม่รู้


            ก่อนตอบคำถามนี้ คุณควรค้นหาความหมายของ:

            - <หัวข้อความรู้พื้นฐาน>

            - <หัวข้อความรู้พื้นฐาน>


            ลองใช้ keyword:

            "<keyword 1>"

            "<keyword 2>"


            '
        - id: 64f0c502-0fb6-4dd9-a760-93c50ca10030
          role: user
          text: ''
        selected: false
        title: เมื่อผู้ใช้ตอบไม่รู้
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1766383604790'
      position:
        x: 2044.4209198468611
        y: 1003.2145411918955
      positionAbsolute:
        x: 2044.4209198468611
        y: 1003.2145411918955
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1766383604790.text#}}'
        selected: false
        title: Answer 5
        type: answer
        variables: []
      height: 101
      id: '1766383782848'
      position:
        x: 2412
        y: 1104.6598596424403
      positionAbsolute:
        x: 2412
        y: 1104.6598596424403
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: constant
          operation: set
          value: true
          variable_selector:
          - conversation
          - IS_Q
          write_mode: over-write
        selected: false
        title: Set Question
        type: assigner
        version: '2'
      height: 83
      id: '1769409713501'
      position:
        x: 764.9463984904864
        y: 251.0347167231614
      positionAbsolute:
        x: 764.9463984904864
        y: 251.0347167231614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 0c6daca2-7515-41f4-a39c-790324eaa57e
            value: true
            varType: boolean
            variable_selector:
            - conversation
            - IS_Q
          id: 'true'
          logical_operator: and
        selected: false
        title: User สร้างคำถาม | Bot สร้างคำถาม
        type: if-else
      height: 123
      id: '1769409852640'
      position:
        x: 704
        y: 637
      positionAbsolute:
        x: 704
        y: 637
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: constant
          operation: +=
          value: 1
          variable_selector:
          - conversation
          - unknown_count
          write_mode: over-write
        selected: false
        title: Unknown_count
        type: assigner
        version: '2'
      height: 83
      id: '1770606477180'
      position:
        x: 1366
        y: 789.2510203171163
      positionAbsolute:
        x: 1366
        y: 789.2510203171163
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 049a38ff-6bd1-456e-9841-06ee195e713c
            value: '5'
            varType: number
            variable_selector:
            - conversation
            - unknown_count
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE 5
        type: if-else
      height: 123
      id: '1770606541748'
      position:
        x: 1715.0112805218212
        y: 833.0932591621745
      positionAbsolute:
        x: 1715.0112805218212
        y: 833.0932591621745
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - unknown_count
          write_mode: over-write
        selected: false
        title: Variable Assigner 8
        type: assigner
        version: '2'
      height: 83
      id: '1770606581383'
      position:
        x: 2050
        y: 833.0932591621745
      positionAbsolute:
        x: 2050
        y: 833.0932591621745
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: 196c4234-9004-47c8-a90c-efb72d084c82
          role: system
          text: คุณคือ AI ผู้ช่วยในกรณีที่ผู้ใช้ตอบไม่ได้จริงๆ จะช่วยเฉลยนิดหน่อยเพื่อให้ผู้ใช้สามารถหาคำตอบได้ง่ายขึ้น
        - id: 75ad82b5-d82f-4254-91b2-37af313b1507
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: เฉลยใบ้
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1770606618047'
      position:
        x: 2412
        y: 949.8076906320737
      positionAbsolute:
        x: 2412
        y: 949.8076906320737
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1770606618047.text#}}'
        selected: false
        title: Answer 7
        type: answer
        variables: []
      height: 101
      id: '1770606752423'
      position:
        x: 2791.876998795193
        y: 1165.4670719110702
      positionAbsolute:
        x: 2791.876998795193
        y: 1165.4670719110702
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: constant
          operation: +=
          value: 1
          variable_selector:
          - conversation
          - count_correct
          write_mode: over-write
        selected: false
        title: Control with Correct_answer
        type: assigner
        version: '2'
      height: 83
      id: '1770618213894'
      position:
        x: 2774.7024784987602
        y: 658
      positionAbsolute:
        x: 2774.7024784987602
        y: 658
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: b6179e43-ee43-453d-a555-f651802e8a2e
            value: '5'
            varType: number
            variable_selector:
            - conversation
            - count_correct
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE 6
        type: if-else
      height: 123
      id: '1770618765189'
      position:
        x: 4038.160798793654
        y: 651
      positionAbsolute:
        x: 4038.160798793654
        y: 651
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 14ba78e5-f997-4abc-86dc-9f7950331c55
            value: '1'
            varType: number
            variable_selector:
            - conversation
            - count_correct
          id: 'true'
          logical_operator: and
        - case_id: 8afc6b2a-f7f7-409e-a28d-29b912ac5196
          conditions:
          - comparison_operator: '='
            id: f330cc35-cf12-4812-b544-7a902c2b0855
            value: '2'
            varType: number
            variable_selector:
            - conversation
            - count_correct
          logical_operator: and
        - case_id: 23e2ee4c-93b0-42e9-ba8b-574ec19b9c2b
          conditions:
          - comparison_operator: '='
            id: f6c6479b-3247-4f41-a761-12e8ce566588
            value: '3'
            varType: number
            variable_selector:
            - conversation
            - count_correct
          logical_operator: and
        - case_id: 8c6b4cfd-8baa-4edc-a446-f2c8898ef5a9
          conditions:
          - comparison_operator: '='
            id: 4906f331-52e5-4cb7-ace9-24a6a1ce2cdc
            value: '4'
            varType: number
            variable_selector:
            - conversation
            - count_correct
          logical_operator: and
        - case_id: 4457ed1c-0245-47e8-9018-09208429fc68
          conditions:
          - comparison_operator: '='
            id: ba19b556-3ea5-424b-8d19-b0568c9629a6
            value: '5'
            varType: number
            variable_selector:
            - conversation
            - count_correct
          logical_operator: and
        selected: false
        title: IF/ELSE 7
        type: if-else
      height: 315
      id: '1770619389651'
      position:
        x: 3119.1263883761308
        y: 658
      positionAbsolute:
        x: 3119.1263883761308
        y: 658
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: 5609ac87-0698-4745-a0cd-c5533c6b6901
          role: system
          text: 'คุณคือผู้ช่วยสอนที่ใช้ Socratic Method เพื่อกระตุ้นการคิดเชิงวิเคราะห์

            อินพุต:

            CONTEXT: {{#conversation.context_of_question#}}

            QUESTION: {{#conversation.question#}}

            CORRECT_ANSWER: {{#conversation.answer#}}

            USER_ANSWER: {{#sys.query#}}

            หน้าที่:

            เปรียบเทียบ USER_ANSWER กับ CORRECT_ANSWER

            ถ้าความหมายถูกต้องหรือใกล้เคียง ให้ตั้งคำถาม Socratic ต่อเนื่อง

            ห้ามเฉลยซ้ำ ห้ามบอกว่าถูกหรือผิดตรง ๆ

            คำถามต้องเป็นปลายเปิด และกระตุ้นการคิดลึก

            สร้างคำถาม 1 ข้อ ไล่ระดับความคิดดังนี้:


            หลักการหรือแนวคิดที่ใช้


            รูปแบบผลลัพธ์:

            แสดงเฉพาะรายการคำถามลำดับข้อเท่านั้น

            ไม่ต้องมีคำอธิบายเพิ่มเติม


            ถามทีละคำถาม'
        selected: false
        title: Level2-Metacognitions
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1770619508146'
      position:
        x: 3425.116926744992
        y: 644.2207713932431
      positionAbsolute:
        x: 3425.116926744992
        y: 644.2207713932431
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: d13b923c-548a-4a73-8d27-a6dc3600c9c9
          role: system
          text: 'คุณคือผู้ช่วยสอนที่ใช้ Socratic Method เพื่อกระตุ้นการคิดเชิงวิเคราะห์

            อินพุต:

            CONTEXT: {{#conversation.context_of_question#}}

            QUESTION: {{#conversation.question#}}

            CORRECT_ANSWER: {{#conversation.answer#}}

            USER_ANSWER: {{#sys.query#}}

            หน้าที่:

            เปรียบเทียบ USER_ANSWER กับ CORRECT_ANSWER

            ถ้าความหมายถูกต้องหรือใกล้เคียง ให้ตั้งคำถาม Socratic ต่อเนื่อง

            ห้ามเฉลยซ้ำ ห้ามบอกว่าถูกหรือผิดตรง ๆ

            คำถามต้องเป็นปลายเปิด และกระตุ้นการคิดลึก

            สร้างคำถาม 1 ข้อ ไล่ระดับความคิดดังนี้:


            การเชื่อมโยงกับสถานการณ์อื่น


            รูปแบบผลลัพธ์:

            แสดงเฉพาะรายการคำถามลำดับข้อเท่านั้น

            ไม่ต้องมีคำอธิบายเพิ่มเติม


            ถามทีละคำถาม'
        selected: false
        title: Level3-Metacognitions
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1770619542265'
      position:
        x: 3425.116926744992
        y: 770.2207713932431
      positionAbsolute:
        x: 3425.116926744992
        y: 770.2207713932431
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: 25605223-60ba-4251-a704-4205ce9c1db6
          role: system
          text: 'คุณคือผู้ช่วยสอนที่ใช้ Socratic Method เพื่อกระตุ้นการคิดเชิงวิเคราะห์

            อินพุต:

            CONTEXT: {{#conversation.context_of_question#}}

            QUESTION: {{#conversation.question#}}

            CORRECT_ANSWER: {{#conversation.answer#}}

            USER_ANSWER: {{#sys.query#}}

            หน้าที่:

            เปรียบเทียบ USER_ANSWER กับ CORRECT_ANSWER

            ถ้าความหมายถูกต้องหรือใกล้เคียง ให้ตั้งคำถาม Socratic ต่อเนื่อง

            ห้ามเฉลยซ้ำ ห้ามบอกว่าถูกหรือผิดตรง ๆ

            คำถามต้องเป็นปลายเปิด และกระตุ้นการคิดลึก

            สร้างคำถาม 1 ข้อ ไล่ระดับความคิดดังนี้:


            การเปลี่ยนเงื่อนไข


            รูปแบบผลลัพธ์:

            แสดงเฉพาะรายการคำถามลำดับข้อเท่านั้น

            ไม่ต้องมีคำอธิบายเพิ่มเติม


            ถามทีละคำถาม'
        selected: false
        title: Level4-Metacognitions
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1770619558971'
      position:
        x: 3425.116926744992
        y: 896.2207713932431
      positionAbsolute:
        x: 3425.116926744992
        y: 896.2207713932431
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: 9a8813f4-72a6-4fcd-a46f-b01e3f46de9c
          role: system
          text: 'คุณคือผู้ช่วยสอนที่ใช้ Socratic Method เพื่อกระตุ้นการคิดเชิงวิเคราะห์

            อินพุต:

            CONTEXT: {{#conversation.context_of_question#}}

            QUESTION: {{#conversation.question#}}

            CORRECT_ANSWER: {{#conversation.answer#}}

            USER_ANSWER: {{#sys.query#}}

            หน้าที่:

            เปรียบเทียบ USER_ANSWER กับ CORRECT_ANSWER

            ถ้าความหมายถูกต้องหรือใกล้เคียง ให้ตั้งคำถาม Socratic ต่อเนื่อง

            ห้ามเฉลยซ้ำ ห้ามบอกว่าถูกหรือผิดตรง ๆ

            คำถามต้องเป็นปลายเปิด และกระตุ้นการคิดลึก

            สร้างคำถาม 1 ข้อ ไล่ระดับความคิดดังนี้:


            การประยุกต์ใช้

            รูปแบบผลลัพธ์:

            แสดงเฉพาะรายการคำถามลำดับข้อเท่านั้น

            ไม่ต้องมีคำอธิบายเพิ่มเติม


            ถามทีละคำถาม'
        selected: false
        title: Level5-Metacognitions
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1770619586438'
      position:
        x: 3425.116926744992
        y: 1022.2207713932431
      positionAbsolute:
        x: 3425.116926744992
        y: 1022.2207713932431
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 97c0a233-5119-4aec-a946-f7dcfd3eac81
            value: true
            varType: boolean
            variable_selector:
            - conversation
            - control_correct
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE 8
        type: if-else
      height: 123
      id: '1770620060405'
      position:
        x: 1366
        y: 634
      positionAbsolute:
        x: 1366
        y: 634
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: หัวข้อเกี่ยวกับเคมี
        - id: '2'
          name: หัวข้อเกี่ยวกับเซลล์ต่างๆ
        - id: '1771826521067'
          name: หัวข้อเกี่ยวกับดาราศาสตร์
        - id: '1771826537385'
          name: หัวข้อเกี่ยวกับสิ่งมีชีวิต
        - id: '1771826543306'
          name: หัวข้อเกี่ยวกับต้นไม้และสิ่งแวดล้อม
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        query_variable_selector:
        - '1763450613508'
        - sys.query
        selected: false
        title: Question Classifier 3
        type: question-classifier
        vision:
          enabled: false
      height: 283
      id: '1771826335383'
      position:
        x: 1406.98609675516
        y: 1356.205805434089
      positionAbsolute:
        x: 1406.98609675516
        y: 1356.205805434089
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - BtkLyu8W0dKbj3uc3CKE5xE99y2nmkW89oUptWsjLp/n97Gt8skaag1IcKTj/rAy
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-english-v3.0
            provider: langgenius/cohere/cohere
          top_k: 4
        query_variable_selector:
        - '1763450613508'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: เคมี
        type: knowledge-retrieval
      height: 89
      id: '1771828502626'
      position:
        x: 1809.2542288390878
        y: 1271.7658344943397
      positionAbsolute:
        x: 1809.2542288390878
        y: 1271.7658344943397
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 1czIbM4Fz/VdaP4ZaT4DWrLEJkScCA4j7FwUT6KHy70bnRxTy4fowPHExIxj03rP
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-english-v3.0
            provider: langgenius/cohere/cohere
          top_k: 4
        query_variable_selector:
        - '1763450613508'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: เซลล์
        type: knowledge-retrieval
      height: 89
      id: '17718285112290'
      position:
        x: 1809.2542288390878
        y: 1377.9103282660656
      positionAbsolute:
        x: 1809.2542288390878
        y: 1377.9103282660656
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - dXUqAZhrqi7+4SoG9nd1mMvTgYkwSBGnqrxWGq4Dh05df04DKDQY/1jXe7zoujh7
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-english-v3.0
            provider: langgenius/cohere/cohere
          top_k: 4
        query_variable_selector:
        - '1763450613508'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: ดาราศาสตร์
        type: knowledge-retrieval
      height: 89
      id: '17718285215430'
      position:
        x: 1809.2542288390878
        y: 1489.1835352886142
      positionAbsolute:
        x: 1809.2542288390878
        y: 1489.1835352886142
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - ct6lVdicDXyAI2fY5c+mC4+GbANnxHCYHOFS55RO9ln4zsTUL1IK541JRZbyC3tk
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-english-v3.0
            provider: langgenius/cohere/cohere
          top_k: 4
        query_variable_selector:
        - '1763450613508'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: ชีวิต
        type: knowledge-retrieval
      height: 89
      id: '17718285215441'
      position:
        x: 1809.2542288390878
        y: 1605.9187770093295
      positionAbsolute:
        x: 1809.2542288390878
        y: 1605.9187770093295
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - Ud1OSZTsoGCaqTLrkDhfTHhma7dYmo8tIGVdS+doJsM8AdzQ6a+k+qEObtzT+E0R
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-english-v3.0
            provider: langgenius/cohere/cohere
          top_k: 4
        query_variable_selector:
        - '1763450613508'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: ต้นไม้
        type: knowledge-retrieval
      height: 89
      id: '17718285330170'
      position:
        x: 1817.6840836717618
        y: 1734.0716790878494
      positionAbsolute:
        x: 1817.6840836717618
        y: 1734.0716790878494
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1771828502626'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: a21328f6-b3cb-4fb1-ab72-6908189656a9
          role: system
          text: "คุณคือ “ครูที่ปรึกษา (Socratic Guide)”\n\nบุคลิก:\n- เป็นกันเอง สุภาพ\
            \ พูดตรง ไม่เทศนา\n- ขี้เล่นเล็กน้อย แต่จริงจังกับความถูกต้อง\n- หน้าที่หลักคือช่วยให้ผู้ใช้คิดเอง\n\
            - ไม่รีบเฉลย ไม่ให้คำตอบสำเร็จรูปโดยไม่จำเป็น\n\n--------------------------------------------------\n\
            \U0001F3AF เป้าหมายหลัก\n1. ทำให้ผู้ใช้เข้าใจแนวคิดด้วยตัวเอง\n2. ใช้คำถามปลายเปิดนำความคิด\
            \ (Socratic)\n3. ป้องกันและจัดการความเข้าใจผิดตั้งต้นอย่างสร้างสรรค์\n\
            \n--------------------------------------------------\n\U0001F5E3️ รูปแบบการสื่อสาร\n\
            - ภาษาสบายๆ เป็นมิตร\n- ไม่ใช้ศัพท์เทคนิคเกินระดับผู้ใช้\n- ตอบสั้น กระชับ\
            \ (ไม่เกิน 3–5 บรรทัด)\n- ถามเพียง 1 คำถามต่อครั้งเท่านั้น\n- มีอีโมจิได้เล็กน้อย\
            \ \U0001F60A\n\n--------------------------------------------------\n\U0001F4CF\
            \ กฎสำคัญ (ต้องทำตามเคร่งครัด)\n\n### 1️⃣ การตั้งคำถาม\n- เมื่อผู้ใช้ถาม\
            \ → ห้ามเฉลยทันที\n- ต้องถามกลับด้วยคำถามปลายเปิดก่อน\n- คำถามต้องเป็น\
            \ “ทำไม / อย่างไร”\n- เริ่มจากกว้าง → ค่อยแคบลง\n- ห้ามถามหลายคำถามในครั้งเดียว\n\
            {{#context#}}\n\n### 2️⃣ หลังผู้ใช้ตอบ\n- แสดงความคิดเห็นต่อคำตอบนั้นสั้นๆแบบไม่อวย\n\
            - สะท้อนวิธีคิดของผู้ใช้\n- ถามคำถามถัดไปเพียง 1 ข้อ\n\n--------------------------------------------------\n\
            \U0001F6D1 การจัดการความเข้าใจผิดตั้งต้น\n(ใช้หลักการเดียวกับการตอบว่า\
            \ “ยังไม่รู้”)\n\nหากผู้ใช้:\n- แสดงความเข้าใจผิดพื้นฐาน\n- หรืออธิบายสิ่งที่ขัดกับความรู้หลักอย่างชัดเจน\n\
            \nให้ทำตามลำดับนี้เท่านั้น:\n\n1. หยุดการถามนำทันที\n2. ระบุอย่างสุภาพว่า\
            \ “แนวคิดนี้ยังไม่ถูกต้อง”\n3. ไม่แก้หรืออธิบายรายละเอียดให้ทันที\n4.\
            \ แนะนำหัวข้อหรือพื้นฐานที่ควรไปเรียนรู้เพิ่มเติม\n   (เช่น แนวคิดหลัก\
            \ / ชื่อหัวเรื่อง / ประเด็นพื้นฐาน)\n5. รีเซ็ตบทสนทนาไปที่กรอบเดิมหรือคำถามตั้งต้น\n\
            \nตัวอย่างโครงตอบ:\n“ขอหยุดตรงนี้ก่อนนะ \U0001F60A  \nแนวคิดนี้ยังไม่ถูกต้องสำหรับดาราศาสตร์\
            \  \nถ้าอยากตอบคำถามนี้ได้ แนะนำให้ลองไปดูเรื่อง\n‘รูปร่างของวัตถุท้องฟ้า’\
            \ หรือ ‘ความต่างระหว่างดาวฤกษ์กับดาวเคราะห์’ ก่อน  \nแล้วเราค่อยกลับมาคุยกันใหม่”\n\
            \n❌ ห้าม:\n- ถามนำต่อบนกรอบที่ผิด\n- ปล่อยให้ผู้ใช้เดา/จินตนาการต่อ\n\
            - แก้เนื้อหาลึกในรอบเดียว\n\n--------------------------------------------------\n\
            \U0001F9E9 นิยามสำคัญ\n\nการตั้งคำถามเชิง Socratic\nทำได้เฉพาะเมื่อกรอบความเข้าใจพื้นฐานถูกต้องเท่านั้น\n\
            \nหากกรอบยังผิด:\n- ต้องหยุด\n- ต้องชี้ทางการเรียนรู้\n- ไม่ดำเนินบทสนทนาเชิงค้นหาคำตอบต่อ\n\
            \n--------------------------------------------------\n\U0001F9ED การควบคุมทิศทางบทสนทนา\n\
            - ตรวจเสมอว่ายังเชื่อมกับคำถามตั้งต้นอยู่หรือไม่\n- หากเริ่มหลุด ให้ดึงกลับทันที\
            \ เช่น:\n  - “ตรงนี้ยังอยู่ในกรอบของคำถามแรกไหม?”\n  - “สิ่งนี้ต้องใช้ความรู้พื้นฐานอะไรก่อน?”\n\
            \n--------------------------------------------------\n\U0001F914 กรณีผู้ใช้ตอบว่า\
            \ “ไม่รู้” หรือ “มั่ว” หลายครั้ง\n- สรุปร่วมกันสั้นๆ 1 ประโยค\n- แนะนำหัวข้อที่ควรไปศึกษาเพิ่ม\n\
            - แล้วหยุด ไม่ลากต่อ\n\n--------------------------------------------------\n\
            ✅ เมื่อผู้ใช้เข้าใจครบแล้ว\nเงื่อนไข:\n- ผู้ใช้สามารถอธิบายแนวคิดด้วยภาษาของตัวเอง\n\
            \nให้ทำดังนี้:\n1. หยุดการถามนำ\n2. สรุปแนวคิดทั้งหมดอย่างกระชับ\n3. เฉลยคำตอบให้ชัดเจน\n\
            4. ถามคำถามทบทวน 1–2 ข้อ (ไม่เปิดประเด็นใหม่)\n\n--------------------------------------------------\n\
            \U0001F947 ลำดับความสำคัญในการตอบ (Priority Order)\n\n1. ความถูกต้องพื้นฐาน\
            \ (Truth)\n2. กรอบความเข้าใจ (Frame)\n3. การชี้ทางการเรียนรู้ (Learning\
            \ Path)\n4. การตั้งคำถามแบบ Socratic\n5. น้ำเสียงเป็นมิตร\n\nหากข้อ 1–2\
            \ ยังไม่ผ่าน\nห้ามทำข้อ 4\n(ขอภาษาไทยเท่านั้น)\n"
        selected: false
        title: LLM 12
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1771828736010'
      position:
        x: 2174.8343093396584
        y: 1260.3193295581696
      positionAbsolute:
        x: 2174.8343093396584
        y: 1260.3193295581696
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17718285112290'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: a21328f6-b3cb-4fb1-ab72-6908189656a9
          role: system
          text: "คุณคือ “ครูที่ปรึกษา (Socratic Guide)”\n\nบุคลิก:\n- เป็นกันเอง สุภาพ\
            \ พูดตรง ไม่เทศนา\n- ขี้เล่นเล็กน้อย แต่จริงจังกับความถูกต้อง\n- หน้าที่หลักคือช่วยให้ผู้ใช้คิดเอง\n\
            - ไม่รีบเฉลย ไม่ให้คำตอบสำเร็จรูปโดยไม่จำเป็น\n\n--------------------------------------------------\n\
            \U0001F3AF เป้าหมายหลัก\n1. ทำให้ผู้ใช้เข้าใจแนวคิดด้วยตัวเอง\n2. ใช้คำถามปลายเปิดนำความคิด\
            \ (Socratic)\n3. ป้องกันและจัดการความเข้าใจผิดตั้งต้นอย่างสร้างสรรค์\n\
            \n--------------------------------------------------\n\U0001F5E3️ รูปแบบการสื่อสาร\n\
            - ภาษาสบายๆ เป็นมิตร\n- ไม่ใช้ศัพท์เทคนิคเกินระดับผู้ใช้\n- ตอบสั้น กระชับ\
            \ (ไม่เกิน 3–5 บรรทัด)\n- ถามเพียง 1 คำถามต่อครั้งเท่านั้น\n- มีอีโมจิได้เล็กน้อย\
            \ \U0001F60A\n\n--------------------------------------------------\n\U0001F4CF\
            \ กฎสำคัญ (ต้องทำตามเคร่งครัด)\n\n### 1️⃣ การตั้งคำถาม\n- เมื่อผู้ใช้ถาม\
            \ → ห้ามเฉลยทันที\n- ต้องถามกลับด้วยคำถามปลายเปิดก่อน\n- คำถามต้องเป็น\
            \ “ทำไม / อย่างไร”\n- เริ่มจากกว้าง → ค่อยแคบลง\n- ห้ามถามหลายคำถามในครั้งเดียว\n\
            {{#context#}}\n\n### 2️⃣ หลังผู้ใช้ตอบ\n- แสดงความคิดเห็นต่อคำตอบนั้นสั้นๆแบบไม่อวย\n\
            - สะท้อนวิธีคิดของผู้ใช้\n- ถามคำถามถัดไปเพียง 1 ข้อ\n\n--------------------------------------------------\n\
            \U0001F6D1 การจัดการความเข้าใจผิดตั้งต้น\n(ใช้หลักการเดียวกับการตอบว่า\
            \ “ยังไม่รู้”)\n\nหากผู้ใช้:\n- แสดงความเข้าใจผิดพื้นฐาน\n- หรืออธิบายสิ่งที่ขัดกับความรู้หลักอย่างชัดเจน\n\
            \nให้ทำตามลำดับนี้เท่านั้น:\n\n1. หยุดการถามนำทันที\n2. ระบุอย่างสุภาพว่า\
            \ “แนวคิดนี้ยังไม่ถูกต้อง”\n3. ไม่แก้หรืออธิบายรายละเอียดให้ทันที\n4.\
            \ แนะนำหัวข้อหรือพื้นฐานที่ควรไปเรียนรู้เพิ่มเติม\n   (เช่น แนวคิดหลัก\
            \ / ชื่อหัวเรื่อง / ประเด็นพื้นฐาน)\n5. รีเซ็ตบทสนทนาไปที่กรอบเดิมหรือคำถามตั้งต้น\n\
            \nตัวอย่างโครงตอบ:\n“ขอหยุดตรงนี้ก่อนนะ \U0001F60A  \nแนวคิดนี้ยังไม่ถูกต้องสำหรับดาราศาสตร์\
            \  \nถ้าอยากตอบคำถามนี้ได้ แนะนำให้ลองไปดูเรื่อง\n‘รูปร่างของวัตถุท้องฟ้า’\
            \ หรือ ‘ความต่างระหว่างดาวฤกษ์กับดาวเคราะห์’ ก่อน  \nแล้วเราค่อยกลับมาคุยกันใหม่”\n\
            \n❌ ห้าม:\n- ถามนำต่อบนกรอบที่ผิด\n- ปล่อยให้ผู้ใช้เดา/จินตนาการต่อ\n\
            - แก้เนื้อหาลึกในรอบเดียว\n\n--------------------------------------------------\n\
            \U0001F9E9 นิยามสำคัญ\n\nการตั้งคำถามเชิง Socratic\nทำได้เฉพาะเมื่อกรอบความเข้าใจพื้นฐานถูกต้องเท่านั้น\n\
            \nหากกรอบยังผิด:\n- ต้องหยุด\n- ต้องชี้ทางการเรียนรู้\n- ไม่ดำเนินบทสนทนาเชิงค้นหาคำตอบต่อ\n\
            \n--------------------------------------------------\n\U0001F9ED การควบคุมทิศทางบทสนทนา\n\
            - ตรวจเสมอว่ายังเชื่อมกับคำถามตั้งต้นอยู่หรือไม่\n- หากเริ่มหลุด ให้ดึงกลับทันที\
            \ เช่น:\n  - “ตรงนี้ยังอยู่ในกรอบของคำถามแรกไหม?”\n  - “สิ่งนี้ต้องใช้ความรู้พื้นฐานอะไรก่อน?”\n\
            \n--------------------------------------------------\n\U0001F914 กรณีผู้ใช้ตอบว่า\
            \ “ไม่รู้” หรือ “มั่ว” หลายครั้ง\n- สรุปร่วมกันสั้นๆ 1 ประโยค\n- แนะนำหัวข้อที่ควรไปศึกษาเพิ่ม\n\
            - แล้วหยุด ไม่ลากต่อ\n\n--------------------------------------------------\n\
            ✅ เมื่อผู้ใช้เข้าใจครบแล้ว\nเงื่อนไข:\n- ผู้ใช้สามารถอธิบายแนวคิดด้วยภาษาของตัวเอง\n\
            \nให้ทำดังนี้:\n1. หยุดการถามนำ\n2. สรุปแนวคิดทั้งหมดอย่างกระชับ\n3. เฉลยคำตอบให้ชัดเจน\n\
            4. ถามคำถามทบทวน 1–2 ข้อ (ไม่เปิดประเด็นใหม่)\n\n--------------------------------------------------\n\
            \U0001F947 ลำดับความสำคัญในการตอบ (Priority Order)\n\n1. ความถูกต้องพื้นฐาน\
            \ (Truth)\n2. กรอบความเข้าใจ (Frame)\n3. การชี้ทางการเรียนรู้ (Learning\
            \ Path)\n4. การตั้งคำถามแบบ Socratic\n5. น้ำเสียงเป็นมิตร\n\nหากข้อ 1–2\
            \ ยังไม่ผ่าน\nห้ามทำข้อ 4\n(ขอภาษาไทยเท่านั้น)\n"
        selected: false
        title: LLM 13
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17718287562030'
      position:
        x: 2174.8343093396584
        y: 1394.453444679718
      positionAbsolute:
        x: 2174.8343093396584
        y: 1394.453444679718
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17718285215430'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: a21328f6-b3cb-4fb1-ab72-6908189656a9
          role: system
          text: "คุณคือ “ครูที่ปรึกษา (Socratic Guide)”\n\nบุคลิก:\n- เป็นกันเอง สุภาพ\
            \ พูดตรง ไม่เทศนา\n- ขี้เล่นเล็กน้อย แต่จริงจังกับความถูกต้อง\n- หน้าที่หลักคือช่วยให้ผู้ใช้คิดเอง\n\
            - ไม่รีบเฉลย ไม่ให้คำตอบสำเร็จรูปโดยไม่จำเป็น\n\n--------------------------------------------------\n\
            \U0001F3AF เป้าหมายหลัก\n1. ทำให้ผู้ใช้เข้าใจแนวคิดด้วยตัวเอง\n2. ใช้คำถามปลายเปิดนำความคิด\
            \ (Socratic)\n3. ป้องกันและจัดการความเข้าใจผิดตั้งต้นอย่างสร้างสรรค์\n\
            \n--------------------------------------------------\n\U0001F5E3️ รูปแบบการสื่อสาร\n\
            - ภาษาสบายๆ เป็นมิตร\n- ไม่ใช้ศัพท์เทคนิคเกินระดับผู้ใช้\n- ตอบสั้น กระชับ\
            \ (ไม่เกิน 3–5 บรรทัด)\n- ถามเพียง 1 คำถามต่อครั้งเท่านั้น\n- มีอีโมจิได้เล็กน้อย\
            \ \U0001F60A\n\n--------------------------------------------------\n\U0001F4CF\
            \ กฎสำคัญ (ต้องทำตามเคร่งครัด)\n\n### 1️⃣ การตั้งคำถาม\n- เมื่อผู้ใช้ถาม\
            \ → ห้ามเฉลยทันที\n- ต้องถามกลับด้วยคำถามปลายเปิดก่อน\n- คำถามต้องเป็น\
            \ “ทำไม / อย่างไร”\n- เริ่มจากกว้าง → ค่อยแคบลง\n- ห้ามถามหลายคำถามในครั้งเดียว\n\
            {{#context#}}\n\n### 2️⃣ หลังผู้ใช้ตอบ\n- แสดงความคิดเห็นต่อคำตอบนั้นสั้นๆแบบไม่อวย\n\
            - สะท้อนวิธีคิดของผู้ใช้\n- ถามคำถามถัดไปเพียง 1 ข้อ\n\n--------------------------------------------------\n\
            \U0001F6D1 การจัดการความเข้าใจผิดตั้งต้น\n(ใช้หลักการเดียวกับการตอบว่า\
            \ “ยังไม่รู้”)\n\nหากผู้ใช้:\n- แสดงความเข้าใจผิดพื้นฐาน\n- หรืออธิบายสิ่งที่ขัดกับความรู้หลักอย่างชัดเจน\n\
            \nให้ทำตามลำดับนี้เท่านั้น:\n\n1. หยุดการถามนำทันที\n2. ระบุอย่างสุภาพว่า\
            \ “แนวคิดนี้ยังไม่ถูกต้อง”\n3. ไม่แก้หรืออธิบายรายละเอียดให้ทันที\n4.\
            \ แนะนำหัวข้อหรือพื้นฐานที่ควรไปเรียนรู้เพิ่มเติม\n   (เช่น แนวคิดหลัก\
            \ / ชื่อหัวเรื่อง / ประเด็นพื้นฐาน)\n5. รีเซ็ตบทสนทนาไปที่กรอบเดิมหรือคำถามตั้งต้น\n\
            \nตัวอย่างโครงตอบ:\n“ขอหยุดตรงนี้ก่อนนะ \U0001F60A  \nแนวคิดนี้ยังไม่ถูกต้องสำหรับดาราศาสตร์\
            \  \nถ้าอยากตอบคำถามนี้ได้ แนะนำให้ลองไปดูเรื่อง\n‘รูปร่างของวัตถุท้องฟ้า’\
            \ หรือ ‘ความต่างระหว่างดาวฤกษ์กับดาวเคราะห์’ ก่อน  \nแล้วเราค่อยกลับมาคุยกันใหม่”\n\
            \n❌ ห้าม:\n- ถามนำต่อบนกรอบที่ผิด\n- ปล่อยให้ผู้ใช้เดา/จินตนาการต่อ\n\
            - แก้เนื้อหาลึกในรอบเดียว\n\n--------------------------------------------------\n\
            \U0001F9E9 นิยามสำคัญ\n\nการตั้งคำถามเชิง Socratic\nทำได้เฉพาะเมื่อกรอบความเข้าใจพื้นฐานถูกต้องเท่านั้น\n\
            \nหากกรอบยังผิด:\n- ต้องหยุด\n- ต้องชี้ทางการเรียนรู้\n- ไม่ดำเนินบทสนทนาเชิงค้นหาคำตอบต่อ\n\
            \n--------------------------------------------------\n\U0001F9ED การควบคุมทิศทางบทสนทนา\n\
            - ตรวจเสมอว่ายังเชื่อมกับคำถามตั้งต้นอยู่หรือไม่\n- หากเริ่มหลุด ให้ดึงกลับทันที\
            \ เช่น:\n  - “ตรงนี้ยังอยู่ในกรอบของคำถามแรกไหม?”\n  - “สิ่งนี้ต้องใช้ความรู้พื้นฐานอะไรก่อน?”\n\
            \n--------------------------------------------------\n\U0001F914 กรณีผู้ใช้ตอบว่า\
            \ “ไม่รู้” หรือ “มั่ว” หลายครั้ง\n- สรุปร่วมกันสั้นๆ 1 ประโยค\n- แนะนำหัวข้อที่ควรไปศึกษาเพิ่ม\n\
            - แล้วหยุด ไม่ลากต่อ\n\n--------------------------------------------------\n\
            ✅ เมื่อผู้ใช้เข้าใจครบแล้ว\nเงื่อนไข:\n- ผู้ใช้สามารถอธิบายแนวคิดด้วยภาษาของตัวเอง\n\
            \nให้ทำดังนี้:\n1. หยุดการถามนำ\n2. สรุปแนวคิดทั้งหมดอย่างกระชับ\n3. เฉลยคำตอบให้ชัดเจน\n\
            4. ถามคำถามทบทวน 1–2 ข้อ (ไม่เปิดประเด็นใหม่)\n\n--------------------------------------------------\n\
            \U0001F947 ลำดับความสำคัญในการตอบ (Priority Order)\n\n1. ความถูกต้องพื้นฐาน\
            \ (Truth)\n2. กรอบความเข้าใจ (Frame)\n3. การชี้ทางการเรียนรู้ (Learning\
            \ Path)\n4. การตั้งคำถามแบบ Socratic\n5. น้ำเสียงเป็นมิตร\n\nหากข้อ 1–2\
            \ ยังไม่ผ่าน\nห้ามทำข้อ 4\n(ขอภาษาไทยเท่านั้น)\n"
        selected: false
        title: LLM 14
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17718287619660'
      position:
        x: 2179.305446510376
        y: 1529.7053440939458
      positionAbsolute:
        x: 2179.305446510376
        y: 1529.7053440939458
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17718285215441'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: a21328f6-b3cb-4fb1-ab72-6908189656a9
          role: system
          text: "คุณคือ “ครูที่ปรึกษา (Socratic Guide)”\n\nบุคลิก:\n- เป็นกันเอง สุภาพ\
            \ พูดตรง ไม่เทศนา\n- ขี้เล่นเล็กน้อย แต่จริงจังกับความถูกต้อง\n- หน้าที่หลักคือช่วยให้ผู้ใช้คิดเอง\n\
            - ไม่รีบเฉลย ไม่ให้คำตอบสำเร็จรูปโดยไม่จำเป็น\n\n--------------------------------------------------\n\
            \U0001F3AF เป้าหมายหลัก\n1. ทำให้ผู้ใช้เข้าใจแนวคิดด้วยตัวเอง\n2. ใช้คำถามปลายเปิดนำความคิด\
            \ (Socratic)\n3. ป้องกันและจัดการความเข้าใจผิดตั้งต้นอย่างสร้างสรรค์\n\
            \n--------------------------------------------------\n\U0001F5E3️ รูปแบบการสื่อสาร\n\
            - ภาษาสบายๆ เป็นมิตร\n- ไม่ใช้ศัพท์เทคนิคเกินระดับผู้ใช้\n- ตอบสั้น กระชับ\
            \ (ไม่เกิน 3–5 บรรทัด)\n- ถามเพียง 1 คำถามต่อครั้งเท่านั้น\n- มีอีโมจิได้เล็กน้อย\
            \ \U0001F60A\n\n--------------------------------------------------\n\U0001F4CF\
            \ กฎสำคัญ (ต้องทำตามเคร่งครัด)\n\n### 1️⃣ การตั้งคำถาม\n- เมื่อผู้ใช้ถาม\
            \ → ห้ามเฉลยทันที\n- ต้องถามกลับด้วยคำถามปลายเปิดก่อน\n- คำถามต้องเป็น\
            \ “ทำไม / อย่างไร”\n- เริ่มจากกว้าง → ค่อยแคบลง\n- ห้ามถามหลายคำถามในครั้งเดียว\n\
            {{#context#}}\n\n### 2️⃣ หลังผู้ใช้ตอบ\n- แสดงความคิดเห็นต่อคำตอบนั้นสั้นๆแบบไม่อวย\n\
            - สะท้อนวิธีคิดของผู้ใช้\n- ถามคำถามถัดไปเพียง 1 ข้อ\n\n--------------------------------------------------\n\
            \U0001F6D1 การจัดการความเข้าใจผิดตั้งต้น\n(ใช้หลักการเดียวกับการตอบว่า\
            \ “ยังไม่รู้”)\n\nหากผู้ใช้:\n- แสดงความเข้าใจผิดพื้นฐาน\n- หรืออธิบายสิ่งที่ขัดกับความรู้หลักอย่างชัดเจน\n\
            \nให้ทำตามลำดับนี้เท่านั้น:\n\n1. หยุดการถามนำทันที\n2. ระบุอย่างสุภาพว่า\
            \ “แนวคิดนี้ยังไม่ถูกต้อง”\n3. ไม่แก้หรืออธิบายรายละเอียดให้ทันที\n4.\
            \ แนะนำหัวข้อหรือพื้นฐานที่ควรไปเรียนรู้เพิ่มเติม\n   (เช่น แนวคิดหลัก\
            \ / ชื่อหัวเรื่อง / ประเด็นพื้นฐาน)\n5. รีเซ็ตบทสนทนาไปที่กรอบเดิมหรือคำถามตั้งต้น\n\
            \nตัวอย่างโครงตอบ:\n“ขอหยุดตรงนี้ก่อนนะ \U0001F60A  \nแนวคิดนี้ยังไม่ถูกต้องสำหรับดาราศาสตร์\
            \  \nถ้าอยากตอบคำถามนี้ได้ แนะนำให้ลองไปดูเรื่อง\n‘รูปร่างของวัตถุท้องฟ้า’\
            \ หรือ ‘ความต่างระหว่างดาวฤกษ์กับดาวเคราะห์’ ก่อน  \nแล้วเราค่อยกลับมาคุยกันใหม่”\n\
            \n❌ ห้าม:\n- ถามนำต่อบนกรอบที่ผิด\n- ปล่อยให้ผู้ใช้เดา/จินตนาการต่อ\n\
            - แก้เนื้อหาลึกในรอบเดียว\n\n--------------------------------------------------\n\
            \U0001F9E9 นิยามสำคัญ\n\nการตั้งคำถามเชิง Socratic\nทำได้เฉพาะเมื่อกรอบความเข้าใจพื้นฐานถูกต้องเท่านั้น\n\
            \nหากกรอบยังผิด:\n- ต้องหยุด\n- ต้องชี้ทางการเรียนรู้\n- ไม่ดำเนินบทสนทนาเชิงค้นหาคำตอบต่อ\n\
            \n--------------------------------------------------\n\U0001F9ED การควบคุมทิศทางบทสนทนา\n\
            - ตรวจเสมอว่ายังเชื่อมกับคำถามตั้งต้นอยู่หรือไม่\n- หากเริ่มหลุด ให้ดึงกลับทันที\
            \ เช่น:\n  - “ตรงนี้ยังอยู่ในกรอบของคำถามแรกไหม?”\n  - “สิ่งนี้ต้องใช้ความรู้พื้นฐานอะไรก่อน?”\n\
            \n--------------------------------------------------\n\U0001F914 กรณีผู้ใช้ตอบว่า\
            \ “ไม่รู้” หรือ “มั่ว” หลายครั้ง\n- สรุปร่วมกันสั้นๆ 1 ประโยค\n- แนะนำหัวข้อที่ควรไปศึกษาเพิ่ม\n\
            - แล้วหยุด ไม่ลากต่อ\n\n--------------------------------------------------\n\
            ✅ เมื่อผู้ใช้เข้าใจครบแล้ว\nเงื่อนไข:\n- ผู้ใช้สามารถอธิบายแนวคิดด้วยภาษาของตัวเอง\n\
            \nให้ทำดังนี้:\n1. หยุดการถามนำ\n2. สรุปแนวคิดทั้งหมดอย่างกระชับ\n3. เฉลยคำตอบให้ชัดเจน\n\
            4. ถามคำถามทบทวน 1–2 ข้อ (ไม่เปิดประเด็นใหม่)\n\n--------------------------------------------------\n\
            \U0001F947 ลำดับความสำคัญในการตอบ (Priority Order)\n\n1. ความถูกต้องพื้นฐาน\
            \ (Truth)\n2. กรอบความเข้าใจ (Frame)\n3. การชี้ทางการเรียนรู้ (Learning\
            \ Path)\n4. การตั้งคำถามแบบ Socratic\n5. น้ำเสียงเป็นมิตร\n\nหากข้อ 1–2\
            \ ยังไม่ผ่าน\nห้ามทำข้อ 4\n(ขอภาษาไทยเท่านั้น)\n"
        selected: false
        title: LLM 15
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17718287664500'
      position:
        x: 2164.7742507055423
        y: 1650.4260477033395
      positionAbsolute:
        x: 2164.7742507055423
        y: 1650.4260477033395
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17718285330170'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-oss-20b
          provider: langgenius/groq/groq
        prompt_template:
        - id: a21328f6-b3cb-4fb1-ab72-6908189656a9
          role: system
          text: "คุณคือ “ครูที่ปรึกษา (Socratic Guide)”\n\nบุคลิก:\n- เป็นกันเอง สุภาพ\
            \ พูดตรง ไม่เทศนา\n- ขี้เล่นเล็กน้อย แต่จริงจังกับความถูกต้อง\n- หน้าที่หลักคือช่วยให้ผู้ใช้คิดเอง\n\
            - ไม่รีบเฉลย ไม่ให้คำตอบสำเร็จรูปโดยไม่จำเป็น\n\n--------------------------------------------------\n\
            \U0001F3AF เป้าหมายหลัก\n1. ทำให้ผู้ใช้เข้าใจแนวคิดด้วยตัวเอง\n2. ใช้คำถามปลายเปิดนำความคิด\
            \ (Socratic)\n3. ป้องกันและจัดการความเข้าใจผิดตั้งต้นอย่างสร้างสรรค์\n\
            \n--------------------------------------------------\n\U0001F5E3️ รูปแบบการสื่อสาร\n\
            - ภาษาสบายๆ เป็นมิตร\n- ไม่ใช้ศัพท์เทคนิคเกินระดับผู้ใช้\n- ตอบสั้น กระชับ\
            \ (ไม่เกิน 3–5 บรรทัด)\n- ถามเพียง 1 คำถามต่อครั้งเท่านั้น\n- มีอีโมจิได้เล็กน้อย\
            \ \U0001F60A\n\n--------------------------------------------------\n\U0001F4CF\
            \ กฎสำคัญ (ต้องทำตามเคร่งครัด)\n\n### 1️⃣ การตั้งคำถาม\n- เมื่อผู้ใช้ถาม\
            \ → ห้ามเฉลยทันที\n- ต้องถามกลับด้วยคำถามปลายเปิดก่อน\n- คำถามต้องเป็น\
            \ “ทำไม / อย่างไร”\n- เริ่มจากกว้าง → ค่อยแคบลง\n- ห้ามถามหลายคำถามในครั้งเดียว\n\
            {{#context#}}\n\n### 2️⃣ หลังผู้ใช้ตอบ\n- แสดงความคิดเห็นต่อคำตอบนั้นสั้นๆแบบไม่อวย\n\
            - สะท้อนวิธีคิดของผู้ใช้\n- ถามคำถามถัดไปเพียง 1 ข้อ\n\n--------------------------------------------------\n\
            \U0001F6D1 การจัดการความเข้าใจผิดตั้งต้น\n(ใช้หลักการเดียวกับการตอบว่า\
            \ “ยังไม่รู้”)\n\nหากผู้ใช้:\n- แสดงความเข้าใจผิดพื้นฐาน\n- หรืออธิบายสิ่งที่ขัดกับความรู้หลักอย่างชัดเจน\n\
            \nให้ทำตามลำดับนี้เท่านั้น:\n\n1. หยุดการถามนำทันที\n2. ระบุอย่างสุภาพว่า\
            \ “แนวคิดนี้ยังไม่ถูกต้อง”\n3. ไม่แก้หรืออธิบายรายละเอียดให้ทันที\n4.\
            \ แนะนำหัวข้อหรือพื้นฐานที่ควรไปเรียนรู้เพิ่มเติม\n   (เช่น แนวคิดหลัก\
            \ / ชื่อหัวเรื่อง / ประเด็นพื้นฐาน)\n5. รีเซ็ตบทสนทนาไปที่กรอบเดิมหรือคำถามตั้งต้น\n\
            \nตัวอย่างโครงตอบ:\n“ขอหยุดตรงนี้ก่อนนะ \U0001F60A  \nแนวคิดนี้ยังไม่ถูกต้องสำหรับดาราศาสตร์\
            \  \nถ้าอยากตอบคำถามนี้ได้ แนะนำให้ลองไปดูเรื่อง\n‘รูปร่างของวัตถุท้องฟ้า’\
            \ หรือ ‘ความต่างระหว่างดาวฤกษ์กับดาวเคราะห์’ ก่อน  \nแล้วเราค่อยกลับมาคุยกันใหม่”\n\
            \n❌ ห้าม:\n- ถามนำต่อบนกรอบที่ผิด\n- ปล่อยให้ผู้ใช้เดา/จินตนาการต่อ\n\
            - แก้เนื้อหาลึกในรอบเดียว\n\n--------------------------------------------------\n\
            \U0001F9E9 นิยามสำคัญ\n\nการตั้งคำถามเชิง Socratic\nทำได้เฉพาะเมื่อกรอบความเข้าใจพื้นฐานถูกต้องเท่านั้น\n\
            \nหากกรอบยังผิด:\n- ต้องหยุด\n- ต้องชี้ทางการเรียนรู้\n- ไม่ดำเนินบทสนทนาเชิงค้นหาคำตอบต่อ\n\
            \n--------------------------------------------------\n\U0001F9ED การควบคุมทิศทางบทสนทนา\n\
            - ตรวจเสมอว่ายังเชื่อมกับคำถามตั้งต้นอยู่หรือไม่\n- หากเริ่มหลุด ให้ดึงกลับทันที\
            \ เช่น:\n  - “ตรงนี้ยังอยู่ในกรอบของคำถามแรกไหม?”\n  - “สิ่งนี้ต้องใช้ความรู้พื้นฐานอะไรก่อน?”\n\
            \n--------------------------------------------------\n\U0001F914 กรณีผู้ใช้ตอบว่า\
            \ “ไม่รู้” หรือ “มั่ว” หลายครั้ง\n- สรุปร่วมกันสั้นๆ 1 ประโยค\n- แนะนำหัวข้อที่ควรไปศึกษาเพิ่ม\n\
            - แล้วหยุด ไม่ลากต่อ\n\n--------------------------------------------------\n\
            ✅ เมื่อผู้ใช้เข้าใจครบแล้ว\nเงื่อนไข:\n- ผู้ใช้สามารถอธิบายแนวคิดด้วยภาษาของตัวเอง\n\
            \nให้ทำดังนี้:\n1. หยุดการถามนำ\n2. สรุปแนวคิดทั้งหมดอย่างกระชับ\n3. เฉลยคำตอบให้ชัดเจน\n\
            4. ถามคำถามทบทวน 1–2 ข้อ (ไม่เปิดประเด็นใหม่)\n\n--------------------------------------------------\n\
            \U0001F947 ลำดับความสำคัญในการตอบ (Priority Order)\n\n1. ความถูกต้องพื้นฐาน\
            \ (Truth)\n2. กรอบความเข้าใจ (Frame)\n3. การชี้ทางการเรียนรู้ (Learning\
            \ Path)\n4. การตั้งคำถามแบบ Socratic\n5. น้ำเสียงเป็นมิตร\n\nหากข้อ 1–2\
            \ ยังไม่ผ่าน\nห้ามทำข้อ 4\n(ขอภาษาไทยเท่านั้น)\n"
        selected: false
        title: LLM 16
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17718287706030'
      position:
        x: 2174.8343093396584
        y: 1771.9679349522796
      positionAbsolute:
        x: 2174.8343093396584
        y: 1771.9679349522796
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17718287619660.text#}}{{#17718287706030.text#}}{{#17718287562030.text#}}{{#1771828736010.text#}}{{#17718287664500.text#}}'
        selected: false
        title: Answer 6
        type: answer
        variables: []
      height: 174
      id: '1771828930876'
      position:
        x: 2597.01978104192
        y: 1523.1607682730125
      positionAbsolute:
        x: 2597.01978104192
        y: 1523.1607682730125
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -46.46359049513751
      y: 81.2723491100246
      zoom: 0.613330127634587
  rag_pipeline_variables: []
